<form action="/books" method="post">

  <div id="top-bar-title">
    <h1>Add book to database</h1>
  </div>

  <div id="drop-down">
    <label for="author_id">Author:</label>
    <select name="author_id" id="author-id">
      <option selected disabled value="">Please select an author</option>
      <% for author in @authors %>
        <option value="<%= author.id %>"><%= author.name %></option>
      <% end %>
    </select>

    <label for="genre">Genre:</label>
    <select name="genre" id="genre">
      <option selected disabled value="">Please select a genre</option>
      <% for genre in @genres %>
        <option value="<%= genre %>"><%= genre %></option>
      <% end %>
    </select>
  </div>

  <hr> <hr/>
  <label for="title">Title:</label>
  <input required="required" type="text" id="title" name="title" placeholder="Enter the title of the book">

  <br>
  <label for="description">Description:</label>
  <input required="required" type="text" id="description" name="description" placeholder="Enter a description of the book">

  <br>
  <table id="number-inputs">
    <tr>
      <th> <label for="stock">Stock count:</label></th>
      <th><label for="buying_cost">Purchase cost in pence:</label></th>
      <th><label for="selling_price">Selling price in pence:</label></th>
    </tr>
    <tr>
      <td><input required="required" type="number" id="stock" name="stock" value="0" min="0"</td>
      <td><input required="required" type="number" id="buying_cost" name="buying_cost" value="0" min="0"</td>
      <td><input required="required" type="number" id="selling_price" name="selling_price" value="0" min="0"</td>
    </tr>
  </table>

  <br>
  <label for="picture_link">Picture link:</label>
  <input type="text" id="picture_link" name="picture_link">

  <br>
  <input type="submit" value="Add book details to database">
</form>
