<form action="/books/sell" method="post">

  <label for="title">Title:</label>
  <input required="required" type="text" id="title" placeholder="Enter the title of the book">

  <label for="quantity">Quantity:</label>
  <input required="required" type="number" value="1" min="1">

  <input type="submit" value="Sell books from store">

</form>
