<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>Branson's Bookshop</title>
</head>
  <body>
    <nav>
      <ul>
        <a href="/">Home page</a>
        <a href="/books">All books</a>
        <a href="/authors">All authors</a>
        <a href="/books/new">Add book</a>
        <a href="/authors/new">Add author</a>
        <a href="/books/buy">Buy book</a>
        <a href="/books/sell">Sell book</a>
        <a href="/tags/search">Search tags</a>
      </ul>
    </nav>
    <div id="main-content">
      <%= yield %>
    </div>
  </body>
</html>
