body{
  margin: 0;
  font-family: georgia;
}

#main-content{
  padding: 8px;
}

nav{
  display: flex;
  justify-content: space-around;
    background-color: #4F7CAC;
}

nav ul{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul a{
  display: inline-block;
  padding: 14px 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

nav ul a:hover{
  background-color: #304B68;
}

#top-bar-title{
  float: left;
  width: 50%;
}

#top-bar-title h1{
  margin-top: 0px;
}

#low-stock-area{
  float: left;
  width: 50%;
}

#no-stock-area{
  float: right;
  width: 50%;
}

#low-stock-table{
  margin: auto;
}

#no-stock-table{
  margin: auto;
}

caption{
  font-size: 18px;
}

#index-table td{
  height: 38.8px;
}

h1{
  background-color: #7990AA;
  margin: 0px;
  padding: 21.440px;
  width: auto;
}

a{
  color: blue;
  text-decoration: none;
}

#drop-down{
  float:right;
  text-align: right;
  width: 50%;
  height: 79.68px;
  background-color: #7990AA;
}

#number-inputs{
  width: 100%;
}

#buy-sell-form{
  text-align: center;
  position: absolute;
  top: 40%;
  margin: auto;
  width: 100%;
}

#buy-sell-form input{
  display: inline;
  margin: 8px;
  width: auto;
  padding: 8px;
}

label{
  font-weight: bold;
}

::placeholder{
  color: #332F2D;
}

input{
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid black;
}

input:invalid{
  background-color: #EF5B5B;
  border-color: red;
}

input[type=text]:focus{
  background-color: #C1C0B8;
  border-color: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type=number]:focus{
  background-color: #C1C0B8;
  border-color: none;
}

input[type=submit]{
  color: white;
  background-color: #4CAF50;
  text-align: center;
  display: inline-block;
  width: auto;
}

input[type=submit]:hover{
  background-color: #2E6B30;
  cursor: pointer;
}

#low-stock-show{
  background-color: yellow;
  display: inline
}

#no-stock-show{
  background-color: red;
  display: inline
}

#low-stock{
  background-color: yellow;
}

#no-stock{
  background-color: red;
}

#tags input[type=checkbox]{
  width:auto;
}

#display_picture{
  float: right;
  height: 300px;
  margin-left: 270px;
  margin-right: 270px;
}

img{
  height: 100%;
}

#show{
  margin: 8px;
  width: 600px;
}

#all-tags p{
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

table, th, td {
  border: 1px solid black;
}
