input[type=text]{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  overflow: hidden;
}

input:invalid{
  background-color: #EF785B;
  border-color: red;
}

input[type=text]:focus{
  background-color: #E0DFD5;
  border-color: none;
}

input[type=number]{
  width: 25%;
}

#low-stock-show{
  background-color: yellow;
  display: inline
}

#no-stock-show{
  background-color: red;
  display: inline
}


#low-stock{
  background-color: yellow;
}

#no-stock{
  background-color: red;
}

table, th, td {
  border: 1px solid black;
}
