<form action="/tags" method="post">
  <h2>Add new tag for books</h2>

  <label for="tag_name"></label>
  <input required="required" type="text" name="tag_name" id="tag-name" placeholder="Please enter the name of the tag">

  <br>
  <input type="submit" value="Add new tag">

</form>
