<form action="/tags/display" method="post">
  <h1>Search tags</h1>
  <hr />

  <h2>Tags:</h2>
  <div id = "tags">
    <% for tag in @tags %>
      <label for="<%= tag.id %>"><%= tag.tag%></label>
      <input type="checkbox" name="<%= tag.id %>" value="yes">
    <% end %>
  </div>

  <input type="submit" value="Search for these tags">

</form>
