<form action="/authors/<%= @author.id %>" method="post">

  <h1>Edit author details</h1>

  <label for="name">Name:</label>
  <input type="text" name="name" id="name" value="<%= @author.name %>">

  <input type="submit" value="Edit author details">
</form>
