<form action="/authors" method="post">

  <label for="name">Name:</label>
  <input required type="text" id="name" name="name" placeholder="Enter the name of the author">

  <input type="submit" value="Add author to database">
</form>
