<p>Name: <%= @author.name %></p>
<p>Books by <%= @author.name %>:</p>
<% for book in @books %>
  <p><%= book.title %></p>
  <p><a href="/books/<%= book.id %>">Show book details</a></p>
  <hr />
<% end %>
